<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC4</key>
			<true/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixAirport</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>darkwake=8 UseKernelCache=No -v</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Thinkpad</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1440x900</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>C2</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>3</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>IMEI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x43a014E4</string>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x01660003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>10.11+-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.11+-BCM94352-5GHz-US-FCC-darkvoid</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>PHN0cmluZz5wY2kxNGU0LDQzYmE8L3N0cmluZz4=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>PHN0cmluZz5wY2kxNGU0LDQzYjE8L3N0cmluZz4=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.12-BCM94352-0x43b114e4-Info.plist-bpresles</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AVhU</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>AVhY</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.9-BCM94352-5 GHz</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>TWFjLUM2RUZBNjM5NjJGQzZFQTA=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>TWFjLTI3QURCQjdCNENFRThFNjE=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.11+-BCM94352-Whitelest-0x4331-iMac14,3-skvo</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>TWFjLUM2RUZBNjM5NjJGQzZFQTA=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>TWFjLTI3QURCQjdCNENFRThFNjE=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.11+-BCM94352-Whitelest-0x4353-MacBoolAir5,2-skvo</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGI2HrKw==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.11-BCM94352-CC=#a-Ramalama</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>axAAAHUN</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>axAAAJCQ</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.11+-BCM94352-Airport-Extreme-skvo</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.10-BCM94352-5GHz-US-FCC-dv</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>10.12-BCM94352-fvco-darkvoid</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>hQjsEA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Zeroing 10ec0885 codec (patched by AppleHDA Patcher.app)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>aQLsEA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Patching 11d41984 with 10ec0269 codec (patched by AppleHDA Patcher.app)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx for AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Boot graphics glitch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x0</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#BiosReleaseDate</key>
		<string>05/03/10</string>
		<key>#BiosVendor</key>
		<string>Apple Inc.</string>
		<key>#BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>#Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>#BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>#BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>#BoardType</key>
		<integer>10</integer>
		<key>#BoardVersion</key>
		<string>Proto1</string>
		<key>#ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>#ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>#ChassisType</key>
		<integer>16</integer>
		<key>#EfiVersion</key>
		<string>220.200.252.0.0</string>
		<key>#Family</key>
		<string>MacBook</string>
		<key>#FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>#FirmwareFeaturesMask</key>
		<string>0xFFFFFFFF</string>
		<key>#LocationInChassis</key>
		<string>MLB</string>
		<key>#Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001403</string>
					<key>Serial</key>
					<string>00001001</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001404</string>
					<key>Serial</key>
					<string>00001002</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>4</integer>
		</dict>
		<key>#Mobile</key>
		<true/>
		<key>#PlatformFeature</key>
		<string>0x03</string>
		<key>#ProductName</key>
		<string>MacBook1,1</string>
		<key>#SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>#Slots</key>
		<array>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>PCIe Slot 0</string>
				<key>Type</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>Device</key>
				<string>WIFI</string>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>#SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>#Trust</key>
		<true/>
		<key>#Version</key>
		<string>1.0</string>
		<key>BiosReleaseDate</key>
		<string>06/13/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.F000.B00.1906131919</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02320902J9F1YJCC</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>228.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SerialNumber</key>
		<string>C02KQ4ZKDTY3</string>
		<key>SmUUID</key>
		<string>AE15DBD9-AAAD-4D27-A5DF-0C60530433E0</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>xxxx</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>ConfigName</key>
	<string>Install</string>
	<key>#DisableDrivers</key>
	<array>
		<string>_NOT_SHOWN_</string>
	</array>
</dict>
</plist>